fastapi==0.110.0
uvicorn[standard]==0.29.0

gunicorn==21.2.0

seaborn
pymongo==4.6.1
influxdb-client==1.41.0

tensorflow==2.15.0
numpy==1.26.4

requests==2.31.0
pydantic==2.6.4

pytest==8.1.1

locust

pandas

matplotlib